*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  min-height: 100vh;
  background: linear-gradient(to right, #11998e, #38ef7d); 
  padding: clamp(20px, 12vw, 120px) 10px 10px;
}

.box{
  height: 450px;
  width: 550px;
  background: #1a1919;
  margin: 50px auto;
  border-radius: 5px;
}